#!/bin/bash

BACKUPDIR="{{ mysql_backup_directory }}"
BACKUPDATE="$(date +%F_+%T)"
OUTPUTDIR="$BACKUPDIR/$BACKUPDATE"
DELETEAFTER="{{ mysql_backup_delete_after }}"
COMPRESS=

BZIP=$(which pbzip2 lbzip2 bzip2| head -n1)
GZIP=$(which pigz gzip | head -n1)
LZOP=$(which lzop | head -n1)

[ -r "/etc/default/mysqlbackup" ] && . /etc/default/mysqlbackup

if [ -z "$COMPRESS" ]; then
	if [ ! -z "$BZIP" ]; then
		COMPRESS="$BZIP"
		COMPRESS_ENDING="bz2"
		COMPRESS_PARAMS="-zc"
	elif [ ! -z "$LZOP" ]; then
		COMPRESS="$LZOP"
		COMPRESS_ENDING="lzo"
		COMPRESS_PARAMS="-c"
	else
		COMPRESS="$GZIP"
		COMPRESS_ENDING="gz"
		COMPRESS_PARAMS="-c"
	fi
fi

mkdir -p "$OUTPUTDIR"

do_log() {
	logger -p local7.notice -t BACKUP $@
}

do_log "Start MySQL Backup Dump to $OUTPUTDIR"
while read database; do
	mydump_params=
	do_log "Backup MySQL Database $database"
	if [ "x$database" == "xmysql" ]; then
		mydump_params="$mydump_params --events --ignore-table=mysql.events"
	fi
	non_innodb_tables=$(mysql -N -e "SELECT COUNT(*) FROM TABLES WHERE TABLE_SCHEMA='$database' AND ENGINE != 'InnoDB'" information_schema)
	if [ "x$non_innodb_tables" == "x0" ]; then
		mydump_params="$mydump_params --quick --single-transaction"
	fi
	mysqldump $mydump_params "$database" | $COMPRESS $COMPRESS_PARAMS > "$OUTPUTDIR/${database}.sql.$COMPRESS_ENDING"
	if [ "$?" -ne 0 ]; then
		do_log "mysqlump status code $?"
	fi
	do_log "Backup MySQL Datbase $database finished"
done< <(mysql -N -e "SELECT DISTINCT TABLE_SCHEMA FROM TABLES WHERE TABLE_SCHEMA NOT IN ('performance_schema', 'information_schema', 'sys')" information_schema)
do_log "Finished MySQL Backup"

do_log "Cleanup old MySQL Backups"
find "$BACKUPDIR" -mindepth 1 -maxdepth 1 -type d -mtime "+$DELETEAFTER" -exec rm -r {} \;
do_log "Cleanup of old MySQL Backups finished"
