[mysqld]
max_allowed_packet = 128M
max_connections = 200

innodb_file_per_table = 1
innodb_buffer_pool_size = 1G
innodb_thread_concurrency = 0
innodb_flush_log_at_trx_commit = 1
innodb_flush_method = O_DIRECT
innodb_log_file_size = 512M
{% if mysql_optimization_version|int >= 6 %}
innodb_buffer_pool_instances = 1
innodb_sort_buffer_size = 64M
innodb_lru_scan_depth = 2048
{% endif %}

max_heap_table_size = 64M
tmp_table_size = 64M

query_cache_min_res_unit = 4096
query_cache_type = 1
query_cache_limit = 16M
query_cache_size = 512M

table_definition_cache = 2000
table_open_cache = 2000

sql-mode = ""



